﻿@using Nuptial.Models
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model CoupleModel
@{
    Layout = null;
}

@if (Model.DataSourceItem != null || Html.Sxa().IsEdit)
{
    <div id="fh5co-couple" @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "fh5co-section-gray", Model.Attributes)>
        <div class="container">
            <div class="row row-bottom-padded-md animate-box">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="col-md-5 col-sm-5 col-xs-5 nopadding">
                        @Html.Sitecore().Field(NuptialSettings.FieldIds.GroomPicture.ToString(), Model.Settings, new { @class = "img-responsive" })
                        <h3>@Html.Sitecore().Field(NuptialSettings.FieldIds.GroomName.ToString(), Model.Settings)</h3>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 nopadding">
                        <h2 class="amp-center"><i class="icon-heart"></i></h2>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5 nopadding">
                        @Html.Sitecore().Field(NuptialSettings.FieldIds.BridePicture.ToString(), Model.Settings, new { @class = "img-responsive" })
                        <h3>@Html.Sitecore().Field(NuptialSettings.FieldIds.BrideName.ToString(), Model.Settings)</h3>
                    </div>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12 text-center heading-section">
                        <h2>@Html.Sitecore().Field(Couple.FieldIds.Title.ToString(), Model.DataSourceItem)</h2>
                        <p>
                            <strong>                                                              
                                on 
                                @if (Html.Sxa().IsEdit)
                                {
                                    @Html.Sitecore().Field(NuptialSettings.FieldIds.WeddingDate.ToString(), Model.Settings)
                                }
                                else if (Model.Settings.WeddingDateTime.HasValue)
                                {
                                    @Model.Settings.WeddingDateTime.Value.ToString("MMM dd, yyyy")
                                }
                                — @Html.Sitecore().Field(NuptialSettings.FieldIds.City.ToString(), Model.Settings),
                                @Html.Sitecore().Field(NuptialSettings.FieldIds.Country.ToString(), Model.Settings)
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}