﻿@using Nuptial.Models
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model CoupleModel
@{
    Layout = null;
}

@if (Model.DataSourceItem != null || Html.Sxa().IsEdit)
{
    <div id="fh5co-groom-bride" @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "", Model.Attributes)>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                    <h2>@Html.Sitecore().Field(Couple.FieldIds.Title.ToString(), Model.DataSourceItem)</h2>
                </div>
            </div>
            <div class="row padding">
                <div class="couple-wrap">
                    <div class="col-md-6 nopadding animate-box">
                        @Html.Sitecore().Field(NuptialSettings.FieldIds.GroomPicture.ToString(), Model.Settings, new { @class = "img-responsive" })
                    </div>
                    <div class="col-md-6 nopadding animate-box">
                        <div class="couple-desc">
                            <h3>@Html.Sitecore().Field(NuptialSettings.FieldIds.GroomName.ToString(), Model.Settings)</h3>
                            @Html.Sitecore().Field(NuptialSettings.FieldIds.GroomBiography.ToString(), Model.Settings)
                            <p class="fh5co-social-icons">
                                @Html.Sitecore().BeginField(NuptialSettings.FieldIds.GroomTwitter.ToString(), Model.Settings)
                                <i class="icon-twitter2"></i>
                                @Html.Sitecore().EndField()
                                @Html.Sitecore().BeginField(NuptialSettings.FieldIds.GroomFacebook.ToString(), Model.Settings)
                                <i class="icon-facebook2"></i>
                                @Html.Sitecore().EndField()
                                @Html.Sitecore().BeginField(NuptialSettings.FieldIds.GroomInstagram.ToString(), Model.Settings)
                                <i class="icon-instagram"></i>
                                @Html.Sitecore().EndField()
                                @Html.Sitecore().BeginField(NuptialSettings.FieldIds.GroomDribble.ToString(), Model.Settings)
                                <i class="icon-dribbble2"></i>
                                @Html.Sitecore().EndField()
                                @Html.Sitecore().BeginField(NuptialSettings.FieldIds.GroomYoutube.ToString(), Model.Settings)
                                <i class="icon-youtube"></i>
                                @Html.Sitecore().EndField()
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding">
                <div class="couple-wrap">
                    <div class="col-md-6 col-md-push-6 nopadding animate-box">
                        @Html.Sitecore().Field(NuptialSettings.FieldIds.BridePicture.ToString(), Model.Settings, new { @class = "img-responsive" })
                    </div>
                    <div class="col-md-6 col-md-pull-6 nopadding animate-box">
                        <div class="couple-desc">
                            <h3>@Html.Sitecore().Field(NuptialSettings.FieldIds.BrideName.ToString(), Model.Settings)</h3>
                            @Html.Sitecore().Field(NuptialSettings.FieldIds.BrideBiography.ToString(), Model.Settings)
                            <p class="fh5co-social-icons">
                                @Html.Sitecore().BeginField(NuptialSettings.FieldIds.BrideTwitter.ToString(), Model.Settings)
                                <i class="icon-twitter2"></i>
                                @Html.Sitecore().EndField()
                                @Html.Sitecore().BeginField(NuptialSettings.FieldIds.BrideFacebook.ToString(), Model.Settings)
                                <i class="icon-facebook2"></i>
                                @Html.Sitecore().EndField()
                                @Html.Sitecore().BeginField(NuptialSettings.FieldIds.BrideInstagram.ToString(), Model.Settings)
                                <i class="icon-instagram"></i>
                                @Html.Sitecore().EndField()
                                @Html.Sitecore().BeginField(NuptialSettings.FieldIds.BrideDribble.ToString(), Model.Settings)
                                <i class="icon-dribbble2"></i>
                                @Html.Sitecore().EndField()
                                @Html.Sitecore().BeginField(NuptialSettings.FieldIds.BrideYoutube.ToString(), Model.Settings)
                                <i class="icon-youtube"></i>
                                @Html.Sitecore().EndField()
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}