﻿@using Nuptial.Models
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model Nuptial.Models.FooterModel
@{
    Layout = null;
}
@if (Model.DataSourceItem != null || Html.Sxa().IsEdit)
{
    <div>

        <footer @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "", Model.Attributes)>
            <div id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>@Html.Sitecore().Field(Footer.FieldIds.FooterTitle.ToString(), Model.Footer.InnerItem)</h2>
                        </div>
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <p class="fh5co-social-icons">
                                @Html.Sitecore().BeginField(Footer.FieldIds.FooterTwitter.ToString(), Model.Footer.InnerItem)
                                <i class="icon-twitter2"></i>
                                @Html.Sitecore().EndField()
                                @Html.Sitecore().BeginField(Footer.FieldIds.FooterFacebook.ToString(), Model.Footer.InnerItem)
                                <i class="icon-facebook2"></i>
                                @Html.Sitecore().EndField()
                                @Html.Sitecore().BeginField(Footer.FieldIds.FooterInstagram.ToString(), Model.Footer.InnerItem)
                                <i class="icon-instagram"></i>
                                @Html.Sitecore().EndField()
                                @Html.Sitecore().BeginField(Footer.FieldIds.FooterDribble.ToString(), Model.Footer.InnerItem)
                                <i class="icon-dribbble2"></i>
                                @Html.Sitecore().EndField()
                                @Html.Sitecore().BeginField(Footer.FieldIds.FooterYoutube.ToString(), Model.Footer.InnerItem)
                                <i class="icon-youtube"></i>
                                @Html.Sitecore().EndField()
                            </p>
                            @Html.Sitecore().Field(Footer.FieldIds.FooterCopyright.ToString(), Model.Footer.InnerItem)
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
}