﻿@model Sitecore.XA.Feature.PageStructure.Models.SplitterRenderingModel
@using Sitecore.Mvc
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@{
    const string placeholderKeyPrefix = "row";
    var outerId = Model.Styles.GetValue(-3);
    if (!string.IsNullOrEmpty(outerId))
    {
        outerId = "id=" + outerId;
    }
}

<div class="@(Model.Styles.GetValue(-2).Trim())" @outerId>
    <div class="@(Model.Styles.GetValue(-1).Trim())">
        @foreach (var row in Model.EnabledPlaceholders.PlaceholdersIndexes.Select(i => i - 1))
        {
            var key = string.Format("{0}-{1}-{2}", placeholderKeyPrefix, row + 1, Model.Id);
            <div class="@Model.Styles.GetValue(row).Trim()">
                @Html.Sitecore().Placeholder(key)
            </div>
        }
    </div>    
</div>