@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model Sitecore.XA.Foundation.Mvc.Models.RenderingModelBase

@if (Html.Sxa().IsEdit)
{
    <div @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "plain-html", Model.Attributes)>
        <div class="component-content">
            @if (Model.DataSourceItem == null)
            {
                @Model.MessageIsEmpty
            }
            else
            {
                @Model.MessageEditHere
                @Html.Raw(Model.DataSourceItem["HtmlCode"])
            }
        </div>
    </div>
}
else
{
    @Html.Raw(Model.DataSourceItem["HtmlCode"])
}